/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[8].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[8].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[8].use[3]!./modules_app/admin/resources/assets/sass/admin.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
body {
  background-color: #999;
  background-image: url(/includes/images/landscape-2.jpg);
}

h1 {
  color: red;
}
